/* html, body {
    height: 25%;
} */

.search-box {
  display: table;
  margin: auto;
}

/* html {
    display: table;
    margin: auto;
} */

/* body {
    display: table-cell;
    vertical-align: middle;
} */
